@import "tailwindcss";

:root {
  --background: #ffffff;
  --main-color: #0060cc;
  --accent-color: #45a113;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .bg-custom-green {
    background-color: var(--accent-color);
  }

  .text-custom-green {
    color: var(--accent-color);
  }

  .bg-custom-blue {
    background-color: var(--main-color);
  }

  .text-custom-blue {
    color: var(--main-color);
  }

  .hero-background {
    background:
      linear-gradient(#000000b3, #000000b3), url("../assets/Background.jpg");
    /* background-image: ; */
    background-repeat: no-repeat;
    background-size: cover;
  }

  .headline-ui {
    position: relative;
  }

  .headline-ui::before {
    position: absolute;
    content: "";
    left: 0%;
    top: 0;
    transform: translateX(-50%);

    width: 4px;
    height: 70px;
    background-color: rgba(47, 163, 55, 0.2);
    border-radius: 2px;
  }

  .headline-ui::after {
    position: absolute;
    content: "";
    left: 0%;
    top: 0;
    transform: translateX(-50%);

    width: 15px;
    height: 15px;

    background-color: var(--main-color);
    border-radius: 100%;

    box-shadow:
      0 0 0 6px rgba(0, 96, 204, 0.12),
      0 0 15px rgba(0, 96, 204, 0.35);

    animation: run-animation 5s infinite linear;
    z-index: 2;
  }

  @keyframes run-animation {
    0% {
      top: 0;
    }

    50% {
      top: 55px;
    }

    100% {
      top: 0;
    }
  }
}
